{% extends 'base.html' %}
{% block content %}
    <h1>Log into your BackTrack Account</h1>
    <div class="pure-g">
        <div class="pure-u-1-2 pure-form-stacked">
            <button type="button" class="pure-button connect-with">Connect with Facebook</button>
            <button type="button" class="pure-button connect-with">Connect with Twitter</button>
            <button type="button" class="pure-button connect-with">Connect with Google</button>
        </div>
        <div class="pure-u-1-2">
            <p>Sign in with username</p>
            <form method="post" action="/login" class="pure-form pure-form-stacked">
                <label for="login-user" name="user">Username</label>
                <input type="text" name="user" id="login-user" maxlength="20">
                <label for="login-password" name="password">Password</label>
                <input type="password" name="password" id="create-password">
                <button type="submit" class="pure-button">Login</button>
            </form>
        </div>
        <div class="pure-u-1"><p>Don't have an account? <a href="/login">Create one here</a></p></div>
        <div class="pure-u-1-2">
            <form method="post" action="/create_user" class = "pure-form pure-form-stacked">
                <input type="hidden" name="url" value="{{ request.args.url }}">
                <label for="create-user">Username</label>
                <input type="text" name="user" id="login-user" maxlength="20">
                <label for="create-password">Password</label>
                <input type="password" name="password" id="create-password">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm" id="confirm-password">
                <button type="submit" class="pure-button">Create Account</button>
            </form>
        </div>
    </div>
{% endblock %}